module.exports = function () {
    // Location of client source files
    const client = './src/';
    const clientApp = './src/';
    const temp = './.tmp/';

    const config = {

        // File Paths
        alljs: ['./src/**/*.js', './*.js'], // js files to lint
        build: 'build/',
        client: client,
        css: temp + 'styles.css',
        fonts: '',
        index: client + 'index.html',
        images: client + 'images/**/*.*',
        js: [
            clientApp + '**/*.module.js',
            clientApp + '**/*.js',
            '!' + clientApp + '**/*.spec.js' // exclude test scripts
        ],
        sass: client + 'styles/styles.scss', // sass files
        temp: temp,
        browserReloadDelay: 1000
    };

    return config;
};
