// variables
$light: #ddd;
$med: #aaa;
$dark: #444;
$red: #520400;
// $red: #000;
$bg: rgba(0.8%, 11.8%, 25.7%, .9);
$bg-comp1: #017bc6;
$bg-comp2: rgba(0%, 7.1%, 16.8%, 1);
$font-family: Roboto,
Arial,
Helvetica;
html,
body {
    height: 100%;
}

body {
    color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $light;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Slackey', cursive;
}

.nav-link {
    color: $light;
    font-weight: 200;
}

a.nav-link:link {
    color: $light;
}

a.nav-link:visited {
    color: $light;
}

a.nav-link:hover {
    color: $bg-comp1;
}

a.nav-link:focus {
    color: $light;
}

a.nav-link:active {
    color: $bg-comp1;
}

.bg-blue {
    background-color: $bg;
}

#cover {
    background: url('../images/blue-design.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-caption {
    padding: 0 1rem;
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem; // text-align: center;
}

#cover-caption h1 {
    // text-align: center;
}

div.section-heading {
    height: 6rem;
    background-color: $bg-comp2;
}

h2.section {
    padding-left: 2rem;
    width: 100%;
    color: $light;
    font-family: Roboto, Arial, Helvetica;
    font-weight: 400;
    font-size: 1.2rem;
}

.row {
    margin: 0;
}

div.row {
    padding: 0.5rem;
}

.section-content {}

.section-image {
    margin: auto;
}

span.inline-heading {
    font-weight: bold;
    padding-right: 0.5rem;
}

h6.project-name {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.image {}

div.image {
    width: 100%;
}

div.project-info {}

div.project-buttons {
    padding: 1rem 0;
}

#project-01 {
    background-color: $light;
    color: $dark;
    h6.project-name {
        color: $dark;
    }
}

#project-02 {
    background-color: $bg-comp2;
    color: $med;
    h6.project-name {
        color: $med;
    }
    .section-image {
        width: 75%;
    }
}

#project-03 {
    background-color: $light;
    color: $dark;
    h6.project-name {
        color: $dark;
    }
}

#project-04 {
    background-color: $red;
    color: $light;
    h6.project-name {
        color: $light;
    }
}

#about {
    background-color: $bg;
    color: $light;
}

.about-content {
    padding: 3rem;
}

h6.about-section {
    color: $bg-comp1;
}

@media screen and (min-width: 576px) {
    #cover-caption p {
        text-align: center;
    }
    
    #project-02 {
        .section-image {
            max-width: 70%;
        }
    }
}

@media screen and (min-width: 767px) {
    
    #project-02 {
        background-color: $bg-comp2;
        color: $med;
        h6.project-name {
            color: $med;
        }
    }
}

@media screen and (min-width: 992px) {
    #project-02 {
        background-color: $bg-comp2;
        color: $med;
        h6.project-name {
            color: $med;
        }
        .section-image {
            width: 30em;
            ;
        }
    }
}

@media screen and (min-width: 1200px) {
    div.image {
        padding: 2rem;
        width: 100%;
    }
    div.project-info {
        padding: 2rem;
    }
    #project-02 {
        background-color: $bg-comp2;
        color: $med;
        h6.project-name {
            color: $med;
        }
        .section-image {
            width: 30em;
            height: auto;
        }
    }
}