// variables
$light: #ddd;
$med: #aaa;
$bg: rgba(0.8%, 11.8%, 25.7%, .6);
$bg-comp: #017bc6;
html,
body {
    height: 100%;
}

body {
    color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $light;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

img {
    max-width: 100%;
}

.navbar-brand {
    font-family: 'Slackey', cursive;
}

.nav-link {
    color: $light;
    font-weight: 200;
}

a.nav-link:link {
    color: $light;
}

a.nav-link:visited {
    color: $light;
}

a.nav-link:hover {
    color: $bg-comp;
}

a.nav-link:focus {
    color: $light;
}

a.nav-link:active {
    color: $bg-comp;
}

.bg-blue {
    background-color: $bg;
}

#cover {
    background: url('../images/blue-design.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto; //text-align: center;
}

div.row {
    padding: 4rem;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2.project-name {
    text-transform: capitalize;
    font-size: 1.5rem;
}

.image {
    width: 100%;
}

div.image, div.project-info {
    width: 100%;
    padding: 2rem;
}

@media screen and (min-width: 576px) {
    .image {
        width: 50%;
    }
}